table, table input {
	font-size: 1.5em;
	border: none;
}
input {
	border: none;
}
input.large, button.large, .large {
	font-size: 7ex;
	width: 100%;
	padding: 0;
}
img {
	width: 100vw;
}
th {
	text-align: left;
}
#score {
	font-size: 80vw;
}
.centered {
	text-align: center;
}

table.multiple td{
	padding:0;
	margin: 0;
	line-height: 0;
}

iframe.multiple {
	width: 49vw;
	height:49vh;
	margin: 0;
}

body {
	margin: 0;
}

div.rounds{
	margin-top: 2ex;
	font-size: 4em;
}

table#scores td, table#scores th {
	border-right: solid 2px;
	padding: 0 3px;
}
table#scores, table#scores input {
	padding: 0;
	width: 100%;
}
table#scores td.rank, table#scores td.points {
	font-size: 7ex;
	text-align: center;
}
